<%- await include('../assets/remixicon.light.symbol.svg'); %>

<div class="modal" id="modal-description">
  <div class="card">
    <button onClick="closeModal()" class="plausible-event-name=Modal+Close fr-btn--close fr-btn" title="Fermer la fenêtre modale"></button>
    <div class="card-modal">
      <div class="title title-emploi <%=infos["emploi"].colorText %>">
        <div>
          <svg class="remix icon">
            <use xlink:href="<%= infos["emploi"].icon %>" />
          </svg>
        </div>
        <div>Les élèves qui travaillent</div>
      </div>
      <div class="title title-formation <%=infos["formation"].colorText %>">
        <div><svg class="remix icon">
            <use xlink:href="<%= infos["formation"].icon %>" />
          </svg></div>
        <div>Les élèves qui poursuivent des études</div>
      </div>
      <div class="title title-autres <%=infos["autres"].colorText %>">
        <div><svg class="remix icon">
            <use xlink:href="<%= infos["autres"].icon %>" />
          </svg></div>
        <div>Les élèves qui réalisent d’autres parcours</div>
      </div>

      <div class="bodies">
        <% for (const key of ["emploi", "formation", "autres"]) { %>
        <div class="body-group body-<%= key %>-enable">
          <div class="body">
            <svg class="<%= infos[key].colorIcon %>">
              <use xlink:href="#icon-union" />
            </svg>
            <svg class="remix icon white">
              <use xlink:href="<%= infos[key].icon %>" />
            </svg>
          </div>
        </div>
        <% } %>
      </div>
      <div class="description">
        <div class="description-emploi">
          Il s’agit du pourcentage de jeunes ayant trouvé un emploi 6 mois après leur dernière année dans cette formation.
          <br /><br />Ce chiffre comprend les emplois privés et publics mais uniquement salariés. Les auto-entreprises sont comptabilisées dans les “<span>autres parcours</span>”.
        </div>
        <div class="description-formation">
          Il s’agit du pourcentage de jeunes inscrits dans une formation 6 mois après leur dernière année dans cette formation.
          <br /><br />Il peut s’agir d'un redoublement, d'un autre niveau d'étude, d'une réorientation vers une nouvelle formation.
        </div>
        <div class="description-autres">
          Il s'agit du pourcentage d'élèves qui ne sont ni en emploi, ni en formation 6 mois après leur dernière année dans cette formation.
          <br /><br />Ils peuvent être au chômage, en inactivité, indépendants, partis à l'étranger, en formation privée hors contrat.
        </div>
      </div>
      <div class="description-more">
        <a target="_blank" href="https://documentation.exposition.inserjeunes.beta.gouv.fr/">En savoir plus</a>
      </div>
    </div>
  </div>
</div>