<%- await include('../common/variables'); %>
<%- await include('./variables'); %>

<!DOCTYPE html>

<html lang="fr">

<head>
  <title><%= data?.description?.titre %></title>
  <meta name="description" content="<%= data.description.details %>">

  <%- await include('../common/header'); %>
  <%- await include('./header.ejs'); %>
</head>

<body style="margin: 0; padding: 0; position: relative;">
  <%- await include('./modal.ejs'); %>
  <div class="container">

    <% if (!options?.noTitle) { %>
    <%- await include('../common/title.ejs'); %>
    <% } %>

    <!-- Résumé -->

    <ul id="resume" class="border-grey">
      <% for (const certificationTerminale of data.certificationsTerminales) { %>
      <li> <%= certificationTerminale.order %>.
        Après <%= certificationTerminale.formationLibelle %>
      </li>
      <% } %>
    </ul>


    <% for (const widget of data.widgets) { %>
    <%- widget %>
    <div class="separator"></div>
    <% } %>


    <%- await include('./footer.1.ejs'); %>

  </div>
</body>

</html>