<%- await include('../common/variables'); %>
<%- await include('./variables'); %>
<div class="containerStats">
  <div class="title fr-h5 padding-right-10">
    <div class="link-internal" onclick="collapse('#data-<%= data.code_certification %>', '#data-expand-<%= data.code_certification %>', '#data-expand-collapse-<%= data.code_certification %>')">
      <div class="blue-marine"><%= data.order ? data.order + "." : "" %> APRÈS <%= data.formationLibelle.toUpperCase() %></div>
      <div style="position: absolute; right: 0; top: 0px;">
        <svg id="data-expand-<%= data.code_certification %>" class="icon collapse-button-hide">
          <use xlink:href="#ri-arrow-down-s-line" />
        </svg>
        <svg id="data-expand-collapse-<%= data.code_certification %>" class="icon">
          <use xlink:href="#ri-arrow-up-s-line" />
        </svg>
      </div>
    </div>
  </div>

  <div id="data-<%= data.code_certification %>" class="collapse-hide collapse-show">
    <%- await include('./stats.1.ejs'); %>
  </div>
</div>