<%- await include('../common/variables'); %>

<!DOCTYPE html>

<html>

<head>
  <%- await include('../common/header'); %>
</head>

<body style="margin: 0; padding: 0;">
  <%- await include('../assets/remixicon.light.symbol.svg'); %>

  <div class="container">
    <% if (!options?.noTitle) { %>
    <%- await include('../common/title.ejs'); %>
    <% } %>

    <div class="card">
      <div class="card-data">
        <div class="bodies">
          <%- await include('./errorMessage.1.ejs'); %>
        </div>
      </div>
    </div>
  </div>
</body>

</html>