<%- await include('../common/variables'); %>



<div class="containerStats">
  <div class="title fr-h5  padding-right-10">
    <a class="link-internal" onclick="collapse('#data-<%= data.code_certification %>', '#data-expand-<%= data.code_certification %>', '#data-expand-collapse-<%= data.code_certification %>')">
      <div class="grey-variant"><%= data.order ? data.order + "." : "" %> <%= data.formationLibelle %></div>
      <div style="position: absolute; right: 0; top: 0px;">
        <svg id="data-expand-<%= data.code_certification %>" class="icon">
          <use xlink:href="#ri-arrow-down-s-line" />
        </svg>
        <svg id="data-expand-collapse-<%= data.code_certification %>" class="icon collapse-button-hide">
          <use xlink:href="#ri-arrow-up-s-line" />
        </svg>
      </div>
    </a>
  </div>

  <div id="data-<%= data.code_certification %>" class="card collapse-hide border-grey">
    <%- await include('./errorMessage.1.ejs'); %>
  </div>
</div>